/* BookingFormModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-form-modal {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.close-button {
  position: absolute;
  color: black;
  background-color: none;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.book-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.book-button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .booking-form-modal {
    padding: 10px;
  }

  .close-button {
    top: 5px;
    right: 5px;
    font-size: 1em;
  }

  .form-group {
    margin-bottom: 10px;
  }

  input, select {
    padding: 8px;
  }

  .book-button {
    padding: 10px;
    font-size: 1em;
  }
}
