/* FAQ.css */
.faq-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq-item {
    margin-bottom: 10px;
  }
  
  .faq-question {
    width: 100%;
    background-color: rgb(0, 100,255);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .faq-question:hover {
    background-color: #ddd;
  }
  
  .faq-icon {
    font-size: 20px;
    margin-left: 10px;
  }
  
  .faq-answer {
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    font-size: 14px;
  }
  