/* Header.css */
.header {
  display: flex;
  background-color: #007bff;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 40px;
  background-image: url(../public/FunPlug.png);
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}
.logo{
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
}

.nav {
  display: flex;
  gap: 10px;
}

.nav-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #0056b3;
}