.header {
  display: flex;
  flex-direction: row;
  background-color: #007bff;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-x: hidden;
  max-width: 100%;
}

.logo {
  width: 80px;
  height: 80px;
  background-image: url(../public/FunPlug.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 2.0rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.nav {
  display: flex;
  gap: 10px;
}

.nav-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.nav-button:hover {
  background-color: #0056b3;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.settings-icon {
  margin-left: -10px;
  transform: translate(50%, 50%);
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: 3px;
}

.settings-dropdown {
  position: absolute;
  top: 100px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  z-index: 2;
}

.settings-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.settings-dropdown ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.settings-dropdown ul li:hover {
  background-color: #007bff;
}

/* Mobile responsiveness */
@media (max-width: 768px) {

  .logo {
    font-size: 2.0rem;
    margin-bottom: 8px;
  }
  nav-button{
    font-size: 1.5rem;
  }
}
