/* SearchBox.css */
.search-box {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.search-box input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-box button {
  padding: 10px 20px;
  width: auto;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #0056b3;
}

