.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px;
  margin: 0 20px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.search-icon {
  color: #007bff;
  width: 30px;
  cursor: pointer;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 20px;
}

.search-button {
  border: none;
  background-color: #007bff;
  color: white;
  padding: 0 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  height: 30px;
}

.search-button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .search-bar {
    width: 40px;
    padding: 5px;
  }

  .search-bar.expanded {
    width: 100%;
    max-width: 400px;
    padding: 5px;
  }

  .search-icon {
    color: #007bff;
    width: 20px;
    cursor: pointer;
  }

  .search-input {
    display: block;
    font-size: 14px;
  }

  .search-button {
    display: block;
    font-size: 14px;
    height: 40px;
    padding: 0 15px;
  }
}
