.user-profile-carousel {
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  align-items:center;
  margin: auto;
  border-radius: 20px;
  border: 1px solid #ccc;

}

.user-profile-card {
  text-align: center;
  cursor: pointer;
  transition: transform 0.25s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.user-profile-card:hover{
  transform: scale(1.05);
  background-color: azure;
  transform: translateY(-5px);
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.avatar0 {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-name {
  margin: 6px 0 0;
  font-weight: 600;
  font-size: 0.95rem;
  margin-bottom: 5px;
}

.user-details {
  font-size: 0.9em;
  opacity: 0.7;
  margin-top: 2px;
}

.dropdown-arrow {
  margin-top: 6px;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.dropdown-arrow:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .avatar0 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
}

