.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 70%;
  max-width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.modal-header-left {
  display: flex;
  align-items: center;
}

.close-share-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; /* space between share and close buttons */
}

.share-button {
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  padding: 4px;
  margin-right: 8px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 60px;
}

.share-button:hover {
  background-color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.share-button svg {
  font-size: 20px; 
}

.close-button {
  background: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.share-modal {
  background-color: #fafafa;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  text-align: center;
}

.share-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.venue-form input,
.venue-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.venue-form .form-buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .modal-content {
    width: 95%;
    padding: 15px;
    border-radius: 8px;
  }

  .modal-header {
    flex-direction: column;
    align-items: center;
  }

  .creator-image {
    width: 50px;
    height: 50px;
    margin: 0 0 10px 0;
  }

  .creator-name {
    font-size: 1.4em;
    text-align: center;
  }
}
